.vscode

# NPM
node_modules
.yarn/

# Bridgetown
output/
tmp/
.bridgetown-cache/
.bridgetown-metadata
.bridgetown-webpack/

# Generated CSS (built by Tailwind during deploy)
src/assets/css/style.css

# Ruby
.bundle/
vendor/
