title: Jesse McGinnis
email: jesse@jcmcginnis.com
tagline: Solving impactful and complex problems on a global scale.
description: >-
  Jesse McGinnis in Waterloo, Canada.
  Solving impactful and complex problems on a global scale.
  Empowering humans to conquer heights they never thought possible.

url: https://jcmcginnis.com # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "/"
permalink: none
locale: en_CA

logo: /favicon.svg

author:
  name: Jesse McGinnis
  twitter: elsom25
  url: https://jcmcginnis.com

social:
  name: Jesse McGinnis
  links:
    - https://twitter.com/elsom25
    - https://github.com/elsom25
    - https://www.linkedin.com/in/jcmcginnis
    - https://www.facebook.com/jcmcginnis

# Build settings
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-environment-variables
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-redirect-from

collections:
  posts:
    output: true
    permalink: /blog/:title/

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: "images"
    values:
      image: true
  - scope:
      path: "categories"
    values:
      layout: category
      permalink: /category/:basename/

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - .yarn
  - yarn.lock
  - package.json
  - package-lock.json
  - vendor
  - LICENSE
  - README.md
  - .vscode
  - .gitignore
  - .liquidrc
  - src
  - bin/jekyll
  - bin/serve
  - bin/build
