url: "https://jcmcginnis.com"
timezone: America/Toronto

title: Jesse McGinnis
tagline: Solving impactful and complex problems on a global scale.
description: >-
  Jesse McGinnis in Waterloo, Canada.
  Solving impactful and complex problems on a global scale.
  Empowering humans to conquer heights they never thought possible.

author:
  name: Jesse McGinnis
  email: jesse@jcmcginnis.com
  twitter: elsom25
  url: https://jcmcginnis.com

social:
  name: Jesse McGinnis
  links:
    - https://twitter.com/elsom25
    - https://github.com/elsom25
    - https://www.linkedin.com/in/jcmcginnis
    - https://www.facebook.com/jcmcginnis

permalink: pretty

collections:
  posts:
    output: true
    permalink: /blog/:title/

defaults:
  - scope:
      collection: posts
    values:
      layout: post

template_engine: erb
