---
layout: base
---

{% assign recent_post = site.posts.first %}

{% assign recent_post_epoch = recent_post.date | date: '%s' | plus: 0 %}
{% assign four_weeks_ago_epoch = 'now' | date: '%s' | minus: 2419200 %}

{% if recent_post_epoch >= four_weeks_ago_epoch %}
  {% assign relevant_post = recent_post %}
{% else %}
  {% assign today = 'now' | date: '%j' | plus: 0 %}
  {% assign posts_count = site.posts | size %}
  {% assign random = today | modulo: posts_count %}

  {% assign relevant_post = site.posts[random] %}
{% endif %}

<main class="max-w-prose md:text-lg text-lg lg:text-xl border-l-4 border-l-pink-700 py-2 pr-1 pl-5 my-8 mx-4 sm:py-3 sm:pr-3 sm:pl-7 md:py-4 md:pr-4 md:pl-9 sm:mt-[10vh] sm:ml-[5.5vw] md:mt-[18vh] md:ml-[10vw]">
  <h1 class="mb-5 mt-0 font-mono font-bold uppercase text-3xl md:text-4xl lg:text-5xl">
    Jesse McGinnis.
  </h1>
  <p class="my-4">
    I'm fueled by solving impactful and complex problems on a global scale, steering high-performing RnD teams to deliver extraordinary results.
    My mission? Empower humans to conquer heights they never thought possible.
  </p>
  <p class="my-4">
    {% if relevant_post %}
    I chronicle my experiences and insights as an engineering leader
    <a class="underline font-semibold transition-colors hover:text-rose-800" href="{{ '/blog' | relative_url }}">through my writing</a>,
    directly from the tech hub of Waterloo.

    Dive into my post,
    <a class="underline font-semibold transition-colors hover:text-rose-800" href="{{ relevant_post.url | relative_url }}">{{ relevant_post.title }}</a>,
    for a taste of my thought process.
    {% endif %}

    In my book,
    <a class="underline font-semibold transition-colors hover:text-rose-800" href="https://www.uncertaintybook.ca/" rel="external" target="_blank">Embracing Uncertainty</a>,
    I offer a practical guide to agile, packed with strategies for building and nurturing top-performing teams.
  </p>
  <p class="my-4">
    Join me at
    <a class="underline font-semibold transition-colors hover:text-rose-800" href="https://www.shopify.ca/careers/" rel="external" target="_blank">Shopify</a>
    where we're shaping the future of commerce.

    You can get a detailed overview of my career journey on
    <a class="underline font-semibold transition-colors hover:text-rose-800" href="https://www.linkedin.com/in/jcmcginnis" rel="external" target="_blank">LinkedIn</a>,
    and glimpse some of my coding prowess on
    <a class="underline font-semibold transition-colors hover:text-rose-800" href="https://github.com/elsom25" rel="external" target="_blank">GitHub</a>.

    Want to chat or have a question? Feel free to drop me a
    <a class="underline font-semibold transition-colors hover:text-rose-800" href="https://twitter.com/elsom25" rel="external" target="_blank">tweet</a>
    or shoot an
    <a class="underline font-semibold transition-colors hover:text-rose-800" href="mailto:{{ site.email }}">email</a>.
  </p>
  <p class="my-4">
    Whether you're a fellow leader, engineer, or simply someone with an interesting story, I'm always open to connect and learn. Let's explore how we can create the extraordinary together.
  </p>
</main>
