<footer class="mb-4 text-center">
  <ul class="inline-block text-xs font-light p-2 border-t text-neutral-400 dark:text-neutral-500 border-neutral-300 dark:border-neutral-600">
    <li class="mb-2 font-mono">that's all &lt;3</li>
    <li class="mb-2">
      <a href="#page-top" title="Back to top">
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-neutral-400 hover:fill-neutral-500 dark:fill-neutral-500 dark:hover:fill-neutral-400 h-5 w-5 transition-colors inline" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z"
            clip-rule="evenodd" />
        </svg>
      </a>
    </li>
  </ul>
</footer>
