<header class="py-4 border-t-4 border-t-rose-700">
  <nav class="max-w-screen-lg mx-auto px-10 md:px-16 flex justify-end">
    <ol>
      {% for item in site.data.menu.main %}
      <li class="inline-block">
        <a
          class="px-2 transition-colors hover:text-rose-800"
          href="{{ item.url | relative_url }}"
          >{{ item.name }}</a
        >
      </li>
      {% endfor %}
      <li class="inline-block">
        <a
          class="px-2 transition-colors hover:text-rose-800"
          href="{{ '/feed.xml' | relative_url }}"
        >
          <svg
            class="inline stroke-neutral-700 dark:stroke-neutral-200 hover:stroke-rose-800 h-5 w-5"
            title="RSS"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            fill="none"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z"
            />
          </svg>
        </a>
      </li>
    </ol>
  </nav>
</header>
