<header class="py-4 border-t-4 border-t-pink-700">
  <nav class="container mx-auto px-6 md:px-4 flex justify-end">
    <ol>
      {% for item in site.data.menu.main %}
      <li class="inline-block"><a class="px-2 hover:underline" href="{{ item.url | relative_url }}">{{ item.name }}</a></li>
      {% endfor %}
      <li class="inline-block"><a class="px-2 align-text-bottom" href="{{ '/feed.xml' | relative_url }}"><img class="inline" width="14" height="14" src="https://simpleicons.org/icons/rss.svg" alt="RSS Feed" /></a></li>
      <li class="inline-block"><a class="px-2 align-text-bottom" href="https://twitter.com/elsom25"><img class="inline" width="14" height="14" src="https://simpleicons.org/icons/twitter.svg" alt=Twitter" /></a></li>
    </ol>
  </nav>
</header>
