<header class="fixed top-0 left-0 right-0 z-50">
  <div class="h-1 bg-gradient-to-r from-sky-500 from-10% via-indigo-500 via-30% to-rose-500 to-90%"></div>
  <div class="sm:px-8">
    <div class="mx-auto w-full max-w-screen-lg lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12 py-1 bg-white dark:bg-black">
        <div class="flex gap-4 font-mono">
          <div class="flex flex-1">
            <a
              aria-label="Home"
              class="group/item flex items-center transition py-2 px-4 rounded-md hover:bg-zinc-50 dark:hover:bg-black"
              href="/"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                class="fill-rose-800 h-3 mr-2"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="font-mono tracking-widest group-hover/item:font-extrabold group-hover/item:text-transparent bg-clip-text bg-gradient-to-tr from-sky-500 from-10% via-indigo-500 via-30% to-rose-500 to-90%">Jesse McGinnis</div>
            </a>
          </div>
          <div class="flex flex-1 justify-end">
            <nav class="flex items-center justify-end">
              <ol class="flex gap-2 text-zinc-800">
                {% for item in site.data.menu.main %}
                  <li>
                    <a
                      class="group/item transition py-2 px-4 rounded-md hover:bg-zinc-50 dark:hover:bg-black {% if item.url == page.url %}bg-zinc-50 dark:bg-black{% endif %}"
                      href="{{ item.url | relative_url }}"
                    >
                      {% if item.url == page.url %}
                        <span class="font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-sky-500 from-10% via-indigo-500 via-30% to-rose-500 to-90%">{{- item.name -}}</span>
                      {% else %}
                        <span class="group-hover/item:font-extrabold group-hover/item:text-transparent bg-clip-text bg-gradient-to-tr from-sky-500 from-10% via-indigo-500 via-30% to-rose-500 to-90%">{{- item.name -}}</span>
                      {% endif %}

                    </a>
                  </li>
                {% endfor %}
                <li class="inline-block">
                  <a
                    class="group/item align-text-bottom transition py-2 px-4 rounded-md hover:bg-zinc-50 dark:hover:bg-black"
                    href="{{ '/feed.xml' | relative_url }}"
                  >
                    <svg
                      class="inline stroke-black dark:stroke-zinc-50 group-hover/item:stroke-sky-600 dark:group-hover/item:stroke-sky-400 h-4"
                      title="RSS"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      fill="none"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z"
                      />
                    </svg>
                  </a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
