---
layout: base
---
<div class="min-h-screen flex flex-col">
  <%= render "header", page: resource, menu: site.data.menu %>
  <main class="flex-auto">
    <div class="px-4 sm:px-6 lg:px-8 py-12 sm:py-16 md:py-20">
      <div class="mx-auto max-w-3xl"><%= yield %></div>
    </div>
  </main>
  <% unless resource.data.skip_footer %>
    <%= render "footer" %>
  <% end %>
</div>
