---
layout: base
---
<div class="fixed inset-0 flex justify-center sm:px-8">
  <div class="flex w-full max-w-screen-lg lg:px-8">
    <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
  </div>
</div>
<div class="relative flex flex-col w-full">
  <%= render "shared/header", page: resource, menu: site.data.menu %>
  <main class="flex-auto">
    <div class="relative px-4 sm:px-8 lg:px-12 pb-4 sm:pb-8 lg:pb-12 mt-16 sm:mt:24 md:mt-32">
      <div class="mx-auto w-full max-w-screen-lg lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12"><%= yield %></div>
      </div>
    </div>
  </main>
  <% unless resource.data.skip_footer %>
    <%= render "shared/footer" %>
  <% end %>
</div>

