---
layout: base
---
<div class="min-h-screen flex flex-col w-full">
  <%= render "header", page: resource, menu: site.data.menu %>
  <main class="flex-auto">
    <%= yield %>
  </main>
  <% unless resource.data.skip_footer %>
    <%= render "footer" %>
  <% end %>
</div>
