<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=<%= resource.data.redirect_to %>" />
    <link rel="canonical" href="<%= resource.data.redirect_to %>" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="<%= resource.data.redirect_to %>"><%= resource.data.redirect_to %></a>...</p>
  </body>
</html>
