<!DOCTYPE html>
<html lang="en-ca" class="bg-neutral-100 text-neutral-700 selection:bg-neutral-200 selection:text-rose-700 dark:bg-neutral-800 dark:text-neutral-200 dark:selection:bg-neutral-600 dark:selection:text-rose-300 scroll-smooth font-mono">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include meta.html %}

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">

    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400" rel="stylesheet">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

    {% include google-analytics.html %}
  </head>
  <body class="page {{page.bodyClass}}" id="page-top">
    {{ content }}
  </body>
</html>
