---
layout: base
---
<div class="fixed inset-0 flex justify-center sm:px-8">
  <div class="flex w-full max-w-5xl lg:px-8">
    <div
      class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
    ></div>
  </div>
</div>
<div class="relative flex w-full flex-col">
  {% include header.html %}
  <main class="flex-auto">
    <div class="sm:px-8 mt-9">
      <div class="mx-auto w-full max-w-5xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">{{ content }}</div>
      </div>
    </div>
  </main>
  {% unless page.skipFooter == true %} {% include footer.html %} {% endunless %}
</div>
