---
layout: default
---

<header class="py-6 md:py-12 lg:w-10/12 md:text-center mx-auto">
  <div class="text-lg">{{ page.date | date: "%B %e, %Y" }}</div>
  <h1 class="heading text-4xl md:text-6xl font-bold font-sans md:leading-tight">
    {{ page.title }}
  </h1>
  {% if page.description %}
    <h2 class="text-xl mt-2">{{ page.description }}</h2>
  {% endif %}
</header>

<img width="1600" height="900" src="{{ page.image }}" />

<main class="mx-auto my-10 md:my-16 max-w-prose prose md:prose-lg lg:prose-xl prose-neutral dark:prose-invert">
  {{ content }}
</main>
