---
title: README
permalink: /readme/
layout: post

description: What I expect, how I show up, and what inspires me.

image: "/assets/img/personal-readme.webp"
---

<p>
  My <code class="language-plaintext highlighter-rouge">README.md</code>, a
  document for myself first to reflect on and with, but also to share with new
  teams, new managers, and new collaborators. It sets expectations, shares my
  values, and gives a glimpse into how I think.
</p>

<h2 id="tldr">tl;dr</h2>

<p>
  <a href="#what-i-expect">I expect</a> to work with people who are smart &amp;
  genuine. I need to chart my own path and keep growing. I seek good things out
  of failure.
</p>

<p>
  <a href="#how-i-show-up">I show up</a> with trust, high expectations, and a
  hunger for the best ideas. I'm honest, optimistic, and pragmatic. I value
  direct communication and hate rules.
</p>

<p>
  <a href="#inspiration">I take inspiration</a> from many others. Their words
  inspire me, shape how I think, and remind me of the world's vastness.
</p>

<h2 id="what-i-expect">What I expect</h2>

<p>
  My most critical expectations for the people and places I work and grow with.
  These questions help me reflect and evaluate fit and progress; guardrails to
  stay true to myself.
</p>

<h3>
  1. Will I work with people who are scary smart, genuine, optimistic, and who
  expect more?
</h3>

<p>
  <strong>Scary smart</strong>: People who are <em>always</em> pushing
  themselves to be better. People who have gone past "what's necessary" simply
  because they wanted to see the other side. People I am inspired by and I will
  learn from. Scary is an important word here: it should be uneasy to keep up
  with them.
</p>

<p>
  <strong>Genuine</strong>: People who make me <em>want</em> to be better.
  People who care not just about what they do, but <em>how they do it</em>.
  People who want to know the humans they work with, and likewise want to
  <em>be known</em>. People who embody honesty, kindness, and authenticity in
  everything they do.
</p>

<p>
  <strong>Optimistic</strong>: Never toxic positivity, but a deeply held belief
  <em>in a better tomorrow</em>. Always honest about the barriers, but willing
  to put in the work. People who are excited to learn and grow together. I'm
  optimistic by nature, and I want to work in a place where the
  <em>optimists greatly outnumber the pessimists</em>.
</p>

<p>
  <strong>Expect more</strong>: I want to be pushed. I want to be challenged. I
  want to be held accountable. I want a culture of excellence, where we're all
  here to do <em>our best work</em>. People who are excited by the idea that
  today is the worst we'll be at what we do.
</p>

<h3>
  2. Will I be able to chart my own path, see my achievements recognized, help
  others, and scale my responsibilities?
</h3>

<p>
  <strong>Chart my own path</strong>: I must be able to
  <em>choose my own adventure</em>, with guideposts not hard walls. A place that
  treats employees like the adults they are, and trusts them to make the right
  decisions. A place that values <em>autonomy</em> and <em>ownership</em>.
  Defaults, not rules. Capabilities, not titles.
</p>

<p>
  <strong>Achievements recognized</strong>: I put in my all, and expect to be
  recognized when I achieve incredible things.
</p>

<p>
  <strong>Help others</strong>: I want to be able to <em>help others</em>. I
  want to be able to <em>mentor</em>, <em>coach</em>, and <em>teach</em>. Design
  programs or work 1:1 with the people around me. A place where we're all here
  to grow and learn, where I get to help make that happen.
</p>

<p>
  <strong>Scale my responsibilities</strong>: I want to keep learning new
  things. There will be phases of mastering skills, but there must be phases of
  growth and new challenges too. Stagnation is not an option.
</p>

<h3>
  3. Can I win when I fail? Will we win if the company loses? Is this a place where
  I can push through difficulty and discomfort to something brighter?
</h3>

<p>
  <strong>Winning in failure</strong>: A place that
  <em>knows failure is a lesson</em>, not something to avoid. Where I can
  <em>grow</em> from my mistakes. Where I can <em>fail fast</em> and
  <em>fail forward</em>. Antifragile, not fragile.
</p>

<p>
  <strong>Winning in loss</strong>: A place where even if the bet (of the
  project, job, company) loses, I've gained something good. Growth, learning,
  relationships, skills. A place where I (and everyone) <em>win</em>, even in
  loss.
</p>

<p>
  <strong>Push through difficulty and discomfort</strong>: A place I
  <em>believe in</em>. Where what we're here to do is worth sticking through the
  hard times for.
</p>

<h2 id="how-i-show-up">How I show up</h2>

<p>
  Observations about how I show up at my best, not targets. Some learned from
  self-reflection, much learned through feedback from those I work with. I've
  found these sticky over the last decade, though all have gotten more nuanced
  with experience, practice, and awareness.
</p>

<p>
  I love self-reflection through personality typology; it's a good avenue for
  self-reflection. I'm an
  <a href="https://www.enneagraminstitute.com/type-8/"
    >Enneagram type 8 "challenger"</a
  >
  and a
  <a href="https://www.16personalities.com/enfj-personality"
    >Myers-Briggs ENFJ-A "protagonist"</a
  >
  (T/F oscillate).
</p>

<p>That out of the way, my light-weight guideposts for how I show up:</p>

<ol>
  <li>
    <strong>I start with trust</strong>. I will share openly with you, and I
    will <em>trust</em> you can &amp; will do what you say. Warning: if you burn
    my trust it's a long road back.
  </li>
  <li>
    <strong>I expect your best</strong>. I want people to do and see everything
    they're capable of. I've learned my expectations are high: I hold what I
    know you're capable of and will actively help you get there.
  </li>
  <li>
    <strong>I'm honest</strong>. I will not lie, but I might say nothing. I will
    tell you what I think, clearly and kindly. I expect the same from you.
  </li>
  <li>
    <strong>I'm optimistic</strong>. I believe in a better tomorrow, and I will
    work to make it happen. I will always look for the silver lining, though
    will never ignore the storm clouds.
  </li>
  <li>
    <strong>I'm pragmatic</strong>. The world is grey and complex. I will always
    find a path forward, even if it's not the one I wanted. Never let perfect be
    the enemy of good enough.
  </li>
  <li>
    <strong>The best ideas win</strong>. Idea labs are fun and where the best
    results come from. So expect me to argue, push, prod, and question. And I
    expect the same from you. This is how we get to the best answers.
  </li>
  <li>
    <strong>Communication matters</strong>. Clear is kind. Be direct, concise,
    and precise with what you communicate. This doesn't mean
    <em>cold &amp; bare</em> however, pith and context matter.
  </li>
  <li>
    <strong>Don't box me in</strong>. Defaults are powerful; rules are
    suffocating. If you put a hard line in front of me expect me to interrogate
    and challenge it. I will always look for the best path forward, and
    sometimes (often) that means breaking the rules.
  </li>
</ol>

<h2 id="inspiration">Inspiration</h2>

<p>
  Wise words from others have shaped my thinking. Some guide what I look for,
  others have shaped how I try to be, and a few have shaped how I look at the
  world.
</p>

<h3 id="what-to-seek">What to seek</h3>

<p>
  Nudges and reminders on what to look for in where I spend my time and energy.
</p>

<blockquote>
  <p>"Work on something uncomfortably exciting." — Larry Page</p>
</blockquote>

<blockquote>
  <p>
    "Choose things that will make you smarter in 10 or 20 years." — Warren
    Buffett
  </p>
</blockquote>

<blockquote>
  <p>"Look for smart people and hard problems." — Paul Graham</p>
</blockquote>

<blockquote>
  <p>
    "Not everything that is faced can be changed. But nothing can be changed
    until it is faced." — James Arthur Baldwin
  </p>
</blockquote>

<h3 id="how-to-be">How to be</h3>

<p>Guardrails on how to show up, how to think, and how to act.</p>

<blockquote>
  <p>
    "We are what we repeatedly do. Excellence, therefore, is not an act, but a
    habit." — Aristotle
  </p>
</blockquote>

<blockquote>
  <p>
    "We judge others by their behavior. We judge ourselves by our intentions." -
    Ian Percy
  </p>
</blockquote>

<blockquote>
  <p>
    "It is the mark of an educated mind to be able to entertain a thought
    without accepting it." — Aristotle
  </p>
</blockquote>

<blockquote>
  <p>
    "You must never be satisfied with losing. You must get angry, terribly
    angry, about losing. But the mark of the good loser is that he takes his
    anger out on himself and not his victorious opponents or on his teammates."
    — Richard M. Nixon
  </p>
</blockquote>

<blockquote>
  <p>
    "Be soft. Do not let the world make you hard. Do not let pain make you hate.
    Do not let the bitterness steal your sweetness. Take pride that even though
    the rest of the world may disagree, you still believe it to be a beautiful
    place." — Kurt Vonnegut
  </p>
</blockquote>

<h3 id="to-remember-about-the-world">To remember about the world</h3>

<p>
  Less directed, but essential reminders which help me recenter and refocus.
</p>

<blockquote>
  <p>
    "All that is necessary for the triumph of evil is that good men do nothing."
    — Edmund Burke
  </p>
</blockquote>

<blockquote>
  <p>
    "It is not power that corrupts but fear. Fear of losing power corrupts those
    who wield it and fear of the scourge of power corrupts those who are subject
    to it." — Aung San Suu Kyi, Freedom from Fear
  </p>
</blockquote>

<blockquote>
  <p>
    Look again at that dot. That's here. That's home. That's us. On it everyone
    you love, everyone you know, everyone you ever heard of, every human being
    who ever was, lived out their lives. The aggregate of our joy and suffering,
    thousands of confident religions, ideologies, and economic doctrines, every
    hunter and forager, every hero and coward, every creator and destroyer of
    civilization, every king and peasant, every young couple in love, every
    mother and father, hopeful child, inventor and explorer, every teacher of
    morals, every corrupt politician, every "superstar," every "supreme leader,"
    every saint and sinner in the history of our species lived there-on a mote
    of dust suspended in a sunbeam.
  </p>

  <p>
    The Earth is a very small stage in a vast cosmic arena. Think of the endless
    cruelties visited by the inhabitants of one corner of this pixel on the
    scarcely distinguishable inhabitants of some other corner, how frequent
    their misunderstandings, how eager they are to kill one another, how fervent
    their hatreds. Think of the rivers of blood spilled by all those generals
    and emperors so that, in glory and triumph, they could become the momentary
    masters of a fraction of a dot.
  </p>

  <p>
    Our posturings, our imagined self-importance, the delusion that we have some
    privileged position in the Universe, are challenged by this point of pale
    light. Our planet is a lonely speck in the great enveloping cosmic dark. In
    our obscurity, in all this vastness, there is no hint that help will come
    from elsewhere to save us from ourselves.
  </p>

  <p>
    The Earth is the only world known so far to harbor life. There is nowhere
    else, at least in the near future, to which our species could migrate.
    Visit, yes. Settle, not yet. Like it or not, for the moment the Earth is
    where we make our stand.
  </p>

  <p>
    It has been said that astronomy is a humbling and character-building
    experience. There is perhaps no better demonstration of the folly of human
    conceits than this distant image of our tiny world. To me, it underscores
    our responsibility to deal more kindly with one another, and to preserve and
    cherish the pale blue dot, the only home we've ever known.
  </p>

  <p>— Carl Sagan</p>
</blockquote>
